<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="database.xml"/>

    <bean id="facultyRepository" class="com.ojdgaf.examples.springapp.repositories.FacultyRepository">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="facultyService" class="com.ojdgaf.examples.springapp.services.FacultyService">
        <constructor-arg ref="facultyRepository"/>
    </bean>

    <bean id="facultyController" class="com.ojdgaf.examples.springapp.controllers.FacultyController">
        <constructor-arg ref="facultyService"/>
    </bean>

    <!-- Logging to $CATALINA_BASE/logs/springapp.log -->
    <bean id="loggerAspect" class="com.ojdgaf.examples.springapp.aspects.Logger" destroy-method="destroy">
        <constructor-arg value="springapp.log"/>
    </bean>
</beans>